* {
    margin: 0px;
    border-width: 0px;
    font-size: 1.0rem;
    border-style: solid;
    border-color: rgb(143, 54, 54);
}

html {
    margin: 0px;
    text-decoration: none;
    background-color: rgba(150, 150, 150, 1);
}

body {
    background-color: rgba(220, 220, 220, 1);
    margin: 10px;
    padding: 5px
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1.0rem;
    color: red;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1.0rem;
}

h3,
h4 {
    font-size: 1.rem;
    font-weight: bold;
    margin-top: 1.0rem
}

p {
    font-size: 1.0rem;
}

input {
    font-size: 0.9rem;
    background-color: rgba(250, 250, 250, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(150, 150, 150, 1);
}

.hellobox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    background-color: rgba(100, 150, 150, 1.0);
    background-image: url("../img/engine.jpg");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;
}

/*
.hellobox {
display: inline-block;
vertical-align: bottom;  
width: 100%;  
height:11em;
background-color:rgba(100,150,150,1.0);
background-image: url("../img/engine.jpg");
background-repeat:no-repeat;
background-size:80%;
background-position:center;
}
*/

img {
    margin: .4rem;
    padding: .2rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(150, 150, 150, 1);
    vertical-align: top;
}

li {
    list-style-type: none;
    transform: rotateY(5);
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(150, 150, 150, 1);
    background-color: none;
}

a {
    border: 0px solid;
    color: #4A90F2;
    text-decoration: none;
}

a:hover {
    color: #4A90F2;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: rgb(82, 91, 94);
}

a.active {
    background-color: rgba(250, 250, 250, 1);
    color: #4A90F2;
}

main {
    margin: -1px;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(150, 150, 150, 1);
}

.img_txt li {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0.1rem;
    padding: 0.1rem;
    border: 1px solid gray;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.img_txt li img {
    position: relative;
    display: inline-block;
    top: 0.2rem;
    left: 2.2rem;
    width: 100px;
}

footer {
    margin: -1px;
}